body{
    background-color: #fff;
    font-family: 'Viga', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container-whole{
    width: 80%;
    margin: auto;
}

.container-river-access{
    width: 70%;
    margin: auto;
}

#medium-screen{
    display: none;
}

#googleMap{
    width: 100%;
    height: 100%;
    border: 2px solid #1b1b1e;
}

#fam-photo{
    width: 100%;
    height: 100%;
    border: 2px solid #1b1b1e;
    overflow: hidden;
}

footer{
    width: 100%;
    background-color: #a1a1a1;
    padding: 2em;
    border: 2px solid #1b1b1e;
}

#footer{
    height: 100px;
    text-align: center;
}

#top{
    color: #1b1b1e;
    background-color: #f57d52;
    border-radius: 12px;
}

#top:hover{
    background-color: #fff;
    color: #111;
}

#feedbackBody{
    background-image: url(./img/blankBackground.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#feedback{
    margin: 0px 35%;
}

#main-top{
    height: 38%;
}

#main-bottom{
    height: 65%;
}

.carousel-container{
    height: 100%;
    width: 90%;
    overflow: hidden;
}

.mySlides{
    height: 85%;
}

#testimg{
    margin-bottom: 5px;
    border: 2px solid black;
}


.slide {
    width: 70%;
    height: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transform: scale(0.9);
    opacity: 0.8;
    transition: all 1.0s ease-in-out;
  }
  
  .showing {
    z-index: 1;
    transform: none;
    opacity: 1;
  }

  .slide img{
      border: 2px solid black;
  }


/*------------------------------------------------------------------------*/

nav{
    border-bottom: 2px solid #fff;
}
nav .phone h2{
    /* text-shadow: 1px 1px #fff; */
}

.navbar-toggler{
    background-color: #f57d52;
    margin-right: 0;
}

.navbar-collapse ul, .navbar-collapse li a{
    float: left;
}

.phone{
    font-size: 2em;
    color: #f57d52;
}


.nav-item a:hover{
    color: #fff;
}

.nav-item a{
    color: #f57d52;
}

#fb{
    font-size: 3em;
    color: #3b5998;
}

#fb:hover{
    color: #fff;
}

/*------------------------------------------------------------------------*/
#main, #about-main{
    height: 100vh;
    background-attachment: fixed;
}

#main, #about-main{
    background-image: url(./img/newSheetsLogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% -15%;
    text-align: center;
}

#about-main{
    height: 100%;
}

.box{
    border: 2px solid black;
}


#about-the-fam{
    width: 100%;
    height: 100%;
    margin: 1rem auto;
}




/*------------------------------------------------------------------------*/
#outdoors, #river, #miscellaneous, #deli, #lawn{
    margin-top: 2rem;
    height: 100%;
    background-attachment: fixed;
}

#outdoors h1, #deli h1, #lawn h1{
    color: #3959e7;
    text-shadow: 2px 2px #1b1b1e;
}

#river h1, #miscellaneous h1{
    text-shadow: 2px 2px #fff;
}

#outdoors{
    background-image: url(./img/riverGearBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100%;
}

#river{
    background-image: url(./img/riverAccessBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100%;
}

#deli{
    background-image: url(./img/deliMenuBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
}

#miscellaneous{
    background-image: url(./img/miscellaneousBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
}
#outdoors h1, #deli h1, #river h1, #miscellaneous h1, #lawn h1{
    margin-top: 2rem;
}

.collapse{
    text-align: center;
}









.holder img{
    border: 2px solid black;
}


.card{
    position: relative;
    border-radius: 0;
    margin-bottom: 2em;
    background: none;
}

.card-text{
    margin: 2em 0;
}

button{
    background-color: #f57d52;
    color: #1b1b1e;
    width: 6em;
    margin: 0 auto;
    border-radius: 3em;
    font-size: 1.5em;
}

#main-slider{
    background-color: #fff;
    color: #1b1b1e;
    width: 3em;
    margin: 0 5em;
    border-radius: 3em;
    font-size: 1.5em;
}

.holder{
    overflow: hidden;
}

#holder1{
    width: 400px;
    height: 300px;
}

thead{
    color: #f57d52;
    font-size: 2rem;
    text-align: center;
}

tbody{
    text-align: center;
}

#sm thead{
    color: #1b1b1e;
}

td{
    color: #fff;
}

#sm td{
    color: #1b1b1e;
}
/*--------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 991px){

    #about-main{
        height: 100%;
    }
    .phone, #button-id-out, hr, #spacer, #top, #showcase, .box.center{
        display: none;
    }

    .card-body button{
        width: 80%;
    }

    #googleMap{
        height: 350px;
    }

    #about-photos, #about-first-row{
        display: none;
    }

    #main{
        height: 100vh;
        background-position: center center;
    }

    #outdoors{
        background-image: url(./img/riverGearBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #river{
        background-image: url(./img/riverAccessBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #deli{
        background-image: url(./img/deliMenuBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
    
    #miscellaneous{
        background-image: url(./img/miscellaneousBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
}

    


@media screen and (max-width: 767px){
    #showcase{
    margin-bottom: 2rem;
    }

    .box-center{
        display: none;
    }

    #main{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;

    }

    #outdoors{
        background-image: url(./img/riverGearBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #river{
        background-image: url(./img/riverAccessBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #deli{
        background-image: url(./img/deliMenuBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
    
    #miscellaneous{
        background-image: url(./img/miscellaneousBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
}



/*Screen Size of a 15" Macbook Pro*/
@media screen and (max-height: 768px) and (max-width: 1024px){

    #main{
        background-image: url(./img/mediumSizeBackground.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
    }

    #outdoors{
        background-image: url(./img/riverGearBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #river{
        background-image: url(./img/riverAccessBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100%;
    }
    
    #deli{
        background-image: url(./img/deliMenuBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
    
    #miscellaneous{
        background-image: url(./img/miscellaneousBackground.JPG);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: 5% 5%;
            height: 100vh;
    }
}




/*Screen Size of a 13" Macbook Pro*/
@media screen and (max-height: 900px) and (max-width: 1440px){

    #main{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
    }

    #outdoors{
    background-image: url(./img/riverGearBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100%;
}

#river{
    background-image: url(./img/riverAccessBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100%;
}

#deli{
    background-image: url(./img/deliMenuBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
}

#miscellaneous{
    background-image: url(./img/miscellaneousBackground.JPG);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: 5% 5%;
        height: 100vh;
}
}
